<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PizzaHut</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
<style type="text/css">
  html,
body {
  height: 100%;
}

body {
  background-image:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("https://images.unsplash.com/photo-1536090219743-b4d977a0d9f2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
   /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


</style>
  </head>

<body>
  <center><h1 style="font-family: 'Cookie'; float: center; text-align: center; margin-bottom: 60px; font-size: 70pt; color: #fd5f00; background-color: #f9f8eb; border-radius: 80px; width: 50%;">PizzaHut</h1></center>

<div class="container text-center" style="width: 100%; height: 100%;">

  <form method="post" action="/addtocart/">

<p style="color:red; background-color: yellow; font-size: 15pt;">{{ message }}</psty>

<p style="font-size: 16pt; color: white;">Type</p>
<select name="type" style="margin-bottom: 10px; width: 30%;">
    <option value="none" selected="selected">None</option>
<option value="veg">Veg</option>
  <option value="nonveg">Non-Veg</option>
</select>


<p style="font-size: 16pt; color: white;">Size</p>
<select name="size" style="margin-bottom: 10px; width: 30%;">
    <option value="none" selected="selected">None</option>
<option value="5">5 inch</option>
  <option value="8">8 inch</option>
  <option value="12">12 inch</option>
</select>


<p style="font-size: 16pt; color: white;">Toppings (If veg, first else the second)</p>
<select name="toppings" style="margin-bottom: 10px; width: 30%;">
    <option value="none" selected="selected">None</option>
<option value="farmhouse">Farmhouse(Veg)/Pepperoni(Nonveg)</option>
  <option value="paneer">Paneer(Veg)/Chicken(Nonveg)</option>
    <option value="cheeseburst">Cheese Burst</option>
</select>

<p style="font-size: 16pt; color: white;">Sides</p>
<select name="sides" style="margin-bottom: 10px; width: 30%;">
  <option value="none" selected="selected">None</option>
  <option value="wings">Chicken Wings</option>
  <option value="bread">Garlic Bread</option>
    <option value="burger">Burger</option>
</select>

<p style="font-size: 16pt; color: white;">Cold-drink</p>
<select name="drink" style="margin-bottom: 10px; width: 30%;">
    <option value="none" selected="selected">None</option>
  <option value="pepsi">Pepsi</option>
  <option value="sprite">Sprite</option>
</select>

<p style="font-size: 16pt; color: white;">Deserts</p>
<select name="deserts" style="margin-bottom: 10px; width: 30%;">
  <option value="none" selected="selected">None</option>
  <option value="chocolava">ChocoLava Cake</option>
  <option value="butterscotch">Butterscotch Moose Cake</option>
</select></br>
<button type="submit" class="btn btn-info" style="margin-bottom: 10px; width: 30%;">Add to Cart</button>
  </form>

<form method="post" action="/gotocart/"><button type="submit" class="btn btn-success" style="margin-bottom: 10px; width: 30%;">Go to Cart</button></form>

</div>
  </body>
</html>
